
.title__component {
    text-align: center;
    margin-bottom: 2rem;
    .title__container {
        display: inline-block;
        
        .title {
            font-size: $fz-800;
            margin-bottom: 5px;
            font-weight: 300;
            
        }
    
        .underline {
            margin: 0 auto;
            width: 50%;
        }
    }
}

