

.about__screen {
    background: rgba($color: $white, $alpha: 0);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .text-container {
        width: 40%;

        .description {
            font-size: 1.3rem;
            line-height: 34px;
            font-weight: 300;
            text-align: justify;
            span {
            font-weight: 400;

            }
        }
    }
}