

.about__screen {
    background: rgba($color: $white, $alpha: 0);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .text-container {
        width: min(40%, 600px);
        opacity: 0;
        .description {
            font-size: $fz-400;
            line-height: 34px;
            font-weight: 300;
            text-align: justify;
            span {
                font-weight: 400;
            }
        }
    }
}