.contact__screen {
    // background: url('../../../assets/backgrounds/background-violeta.jpg') no-repeat center center / cover;
    background: linear-gradient(to right, $main-dark, $main-light);
    overflow: hidden;
    padding-bottom: 3rem;
    .form {

        & > * + * {
            margin-top: 3rem;
        }

        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 4rem;
        opacity: 0;

        .input-container {
            position: relative;
            width: 90%;
            max-width: 50rem;
            padding: 0.313rem 0;
            overflow: hidden;

            .input {
                box-sizing: border-box;
                color: #595f6e;
                width: 100%;
                height: 100%;
                padding-top: 1.25rem;
                border: none;
                outline: none;
                background: none;
                color: white;

                &:focus + .label .content-label,
                &:valid + .label .content-label {
                    transform: translateY(-150%);
                    font-size: $fz-200;
                    color: $color-contact;
                }

                &:focus + .label::after,
                &:valid + .label::after {
                    transform: translateX(0%);
                }
            }

            .label {
                position: absolute;
                bottom: 0;    
                left: 0;
                width: 100%;
                height: 100%;
                pointer-events: none;
                border-bottom: 1px solid white;
                color: white;
                font-size: $fz-300;

                &::after{
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -2px;
                    height: 100%;
                    width: 100%;
                    border-bottom: 3px solid $color-contact;
                    transform: translateX(-100%);
                    transition: transform .3s ease;
                }

                .content-label {
                    position: absolute;
                    bottom: 5px;
                    left: 0;
                    transition: $transition;
                }
            }         
        }

        .textarea-container {
            overflow: visible;

            &:focus-within label {
                color: $color-contact;
            }
            
            textarea {
                display: inline-block;
                max-width: 100%;
                min-width: 100%;
                min-height: 7rem;
                margin-top: .5rem;
                border: none;
                outline: none;
                border-radius: 3px;
                background: rgba($color: black, $alpha: .40);
                padding: .5rem;
                color: white;
            }

            label {
                color: white;
                font-size: $fz-300;
                transition: $transition;
                display: inline-block;
                margin-top: 1.25rem;
            }
        }

        button {
            padding: 10px 30px;
            border-radius: 3px;
            border: none;
            background: $color-contact;
            color: $white;
            font-size: $fz-400;
            letter-spacing: 2.5px;
            cursor: pointer;
            transition: $transition;
            &:hover {
                background: white;
                color: $color-contact;
            }
        }
    }

    .email-msg {
        margin: 0;
        font-size: $fz-400;
        font-weight: 600;
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 100%);
        padding: .8rem 2rem;
        background: white;
        border-radius: 10px 10px 0 0;
        transition: $transition;
    }

    .success {
        color: green;
    }
    
    .error {
        color: red;
    }
}

