

.contact__screen {
    // background: url('../../../assets/backgrounds/background-violeta.jpg') no-repeat center center / cover;
    background: linear-gradient(to right, $main-dark, $main-light);
    form {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 7rem;
        
        .input-container {
            position: relative;
            width: 90%;
            max-width: 800px;
            margin-bottom: 4rem;
            padding: 5px 0;
            overflow: hidden;

            .input {
                box-sizing: border-box;
                color: #595f6e;
                width: 100%;
                height: 100%;
                padding-top: 20px;
                border: none;
                outline: none;
                background: none;
                color: white;

                &:focus + .label .content-label,
                &:valid + .label .content-label {
                    transform: translateY(-150%);
                    font-size: 14px;
                    color: $color-contact;
                }

                &:focus + .label::after,
                &:valid + .label::after {
                    transform: translateX(0%);
                }
            }

            .label {
                position: absolute;
                bottom: 0;    
                left: 0;
                width: 100%;
                height: 100%;
                pointer-events: none;
                border-bottom: 1px solid white;
                color: white;

                &::after{
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -1px;
                    height: 100%;
                    width: 100%;
                    border-bottom: 3px solid $color-contact;
                    transform: translateX(-100%);
                    transition: transform .3s ease;
                }

                .content-label {
                    position: absolute;
                    bottom: 5px;
                    left: 0;
                    transition: $transition;
                }
            }

            
            
        }

        button {
            padding: 10px 30px;
            border-radius: 3px;
            border: none;
            background: $color-contact;
            color: $white;
            font-size: 20px;
            letter-spacing: 2.5px;

            cursor: pointer;
            transition: $transition;

            &:hover {
                background: lighten($color-contact, $amount: 40);
                color: $color-contact;
            }
        }

    }

}

