
.home__screen {
    background: url('../../../assets/backgrounds/home.svg');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right;
    padding-left: 3.5rem;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    .text-container {
        
        .name {
            font-size: 3rem;
            padding: .5rem 0;
            margin: 0;
            background: linear-gradient(to right, $main-dark, $main-light);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            opacity: 0;
            animation: fadeIn 1s forwards 0s ease;
        }

        .occupation {
            font-size: 2rem;
            font-weight: 400;
        }
        
        .description, .occupation {
            opacity: 0;
            animation: fadeIn 1s forwards .5s ease;
        }

        .social {
            opacity: 0;
            animation: fadeIn 1s forwards 1s ease;

            i {
                font-size: 2.3rem;
                color: darken($color: $main-dark, $amount: 10);
                cursor: pointer;
                &:first-child {
                    margin-right: 2rem;
                }
            }
            
        }

    }
}

@keyframes fadeIn{
    0%{
        transform: scale(.8) translateX(-150px);
        opacity: 0;
        }
    100%{
        transform: scale(1) translateX(0);
        opacity: 1;
        }
}