
.home__screen {
    background: url('../../../assets/backgrounds/home.svg') no-repeat top right/50% ;
    padding-left: 3.5rem;   
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    .language-alert {
        font-size: $fz-200;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -100%);
        background: rgba($color: black, $alpha: .6);
        padding: 0 2rem;
        border-radius: 0 0 5px 5px;
        color: white;
        transition: $transition;
    }

    .language-toggle {
        position: absolute;
        top: 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: .75rem;
        height: 1.3rem;

        p {
            margin: 0;
            font-weight: 600;
            font-size: $fz-300;
        }

        .toggle {
            position: relative;
            width: 3rem;
            height: 100%;
            border-radius: 10px;
            background: $main-dark;
            border: none;
            cursor: pointer;
        }

        .circle-toggle {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 2px;
            right: auto;
            height: 1.15rem;
            width: 1.15rem;
            border-radius: 50%;
            background: $main-light;
            transition: $transition;
        }

        .en {
            left:  58%;
        }
    }

    .text-container {

        & > * + * {
            margin: 1.5rem 0 0 0;
        }

        .name {
            font-size: $fz-800;
            padding: .5rem 0;
            margin: 0;
            background: linear-gradient(to right, $main-dark, $main-light);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            opacity: 0;
            animation: fadeIn 1s forwards 0s ease;
        }

        .occupation {
            font-size: $fz-600;
            font-weight: 400;
        }
        
        .description, .occupation {
            opacity: 0;
            animation: fadeIn 1s forwards .5s ease;
        }

        .description {
            display: inline-block;
            width: max(60%, 250px);
            line-height: 1.8rem;
            font-size: $fz-400;
        }

        .social {
            opacity: 0;
            animation: fadeIn 1s forwards 1s ease;
            
            * + * {
                margin-left: 1.7rem;
            }

            i {
                font-size: $fz-700;
                color: darken($color: $main-dark, $amount: 10);
                cursor: pointer;
                transition: $transition;

                &:hover {
                    transform: scale(1.08);
                }
            }
        }
    }
}

@keyframes fadeIn{
    0% {
        transform: scale(.8) translateX(-150px);
        opacity: 0;
    }
    100% {
        transform: scale(1) translateX(0);
        opacity: 1;
    }
}