

.portfolio__screen {
    background-color: $white;
    position: relative;
}

 // ======================= Proyect info  ======================= //

.proyect__info__container {
    position: relative;
    width: 35%;
    height: 60vh;
}

.proyect__info {
    position: absolute;
    top: 0;
    width: 100%;
    padding: .625rem 1.56rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #1f3349;
    opacity: 0;

    p {
        line-height: 30px;
        font-size: $fz-400;
    }

    .name {
        margin-top: 0;
        font-weight: 400;
        font-size: $fz-600;
        text-transform: capitalize;
        color: $main-dark;
    }

    .btns__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: .5rem;

        button {
            border: none;
            font-family: inherit;
            font-size: $fz-400;
            min-height: 55px;
            padding: .7em .9em;
            border-radius: 5px;
            cursor: pointer;
            transition: $transition;
            box-sizing: border-box;

            &:hover {
                transform: scale(1.05);
                box-shadow: 0 5px 5px 0 rgba(0,0,0,.3);
            }
        }

        .btn__lock,
        .btn__repository {
            display: flex;
            justify-content: space-between;
            align-items: center;

            i,
            span {
                margin: 0 5px;
            }
        }
        .btn__repository {
            background-color: #333;
            color: white;
        }

        .btn__lock {
            background-color: rgb(128, 128, 128);
            color: white;
            pointer-events: none;
        }

        .btn__live {
            background-color: $main-dark;
            color: white;
        }
    }
}

// ======================= Desktop Component  ======================= //
.desktop__portfolio__container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -40%);
    display: flex;
    justify-content: space-between;
    align-items: center;


    // ======================= 3D SLIDER  ======================= //
    .portfolio__slider {
        width: 55%;
        height: 13vw;
        position: relative;
        // perspective: 1000px;
        perspective: 900px;
        transform-style: preserve-3d;
        
        [type=radio] {
            display: none;
        }

        label {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            width: 55%;
            height: 100%;
            border-radius: 4px;
            cursor: pointer;
            transition: transform .4s ease;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }

        }     
    }

    #p0:checked ~ #slide3, #p1:checked ~ #slide4,
    #p2:checked ~ #slide0, #p3:checked ~ #slide1,
    #p4:checked ~ #slide2 {
        box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
        transform: translate(-50%, 0) translateZ(50px);
    }

    #p0:checked ~ #slide4, #p1:checked ~ #slide0,
    #p2:checked ~ #slide1, #p3:checked ~ #slide2,
    #p4:checked ~ #slide3 {
        box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
        transform: translate(-25%, 0) translateZ(175px);
    }

    #p0:checked ~ #slide0, #p1:checked ~ #slide1,
    #p2:checked ~ #slide2, #p3:checked ~ #slide3,
    #p4:checked ~ #slide4 {
        box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
        transform: translate(0, 0) translateZ(300px);
    }

    #p0:checked ~ #slide1, #p1:checked ~ #slide2,
    #p2:checked ~ #slide3, #p3:checked ~ #slide4,
    #p4:checked ~ #slide0 {
        box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
        transform: translate(25%, 0) translateZ(175px);
    }

    #p0:checked ~ #slide2, #p1:checked ~ #slide3,
    #p2:checked ~ #slide4, #p3:checked ~ #slide0,
    #p4:checked ~ #slide1 {
        box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
        transform: translate(50%, 0) translateZ(50px);
    }

}

// ======================= Listed Component  ======================= //
.listed__portfolio__container {
    display: none;
    margin-bottom: 5rem;

    .listed__proyect {
        display: flex;
        align-items: center;
        justify-content: space-between;
        opacity: 0;
        
        .proyect__info  {
            align-items: flex-start;
            text-align: left;
            padding: 0;
            opacity: 1;
            width: 50%;

            h2 {
                margin-top: 0;
            }
        }

        img {
            width: 40%;
            object-fit: cover;
        } 
    }

    .listed__proyect.left {
        img {
            order: 2;
        }
        .proyect__info  {
            order: 1;
            align-items: flex-start;
            text-align: left;
        }
    }

    .listed__proyect.right {
        .proyect__info  {
            align-items: flex-end;
            text-align: right;
        }
    }

    hr {
        margin: 2.5rem 0;
    }

    .proyect__info {
        position: static;
    }
}

