
.home__screen {
    background: url('../../../assets/backgrounds/home.svg');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right;
    padding-left: 3.5rem;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    .text-container {
        
        .name {
            font-size: 3rem;
            padding: .5rem 0;
            margin: 0;
            background: linear-gradient(to right, $main-dark, $main-light);
            -webkit-text-fill-color: transparent;
            animation: text-movement infinite .3s;
            -webkit-background-clip: text;
        }

        .occupation {
            font-size: 2rem;
            font-weight: 400;
        }

        .social {
            i {
                font-size: 2.3rem;
                color: darken($color: $main-dark, $amount: 10);
                cursor: pointer;
                &:first-child {
                    margin-right: 2rem;
                }
            }
            
        }

    }
}

