

html, body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.section {
    min-height: 100vh;
}

.container {
    width: min(90%, 1000px);
    margin: 0 auto;
}

.canvas-container{
    position: relative;
}

.active {
    transform: translate(-50%, 0%) !important;
}

.events-none {
    pointer-events: none;
}