
// Colors
$white: #fff;
$main-light: #36d2a6;
$main-dark: #31928d;
$color-contact: #1c1d22;

// Effects
$transition: all .3s ease;

// Font Size
$fz-200: clamp(12px, 1vw, 14px);
$fz-300: clamp(14px, 1.3vw, 18px);
$fz-400: clamp(16px, 1.6vw, 20px);
$fz-600: clamp(26px, 2.6vw, 34px);
$fz-700: clamp(28px, 3vw, 38px);
$fz-800: clamp(30px, 3.5vw, 45px);
