

html, body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.section {
    height: 100vh;
}

.container {
    width: 80%;
    max-width: $gridWidth;
    margin: 0 auto;
}

.title__component {
    color: red;
}
